.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 18rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid rgba(107, 107, 107, 0.508);
  padding: 10px;
  background-color: #2d303c88;
  color: #fff;
}
.input::placeholder {
  color: rgba(255, 249, 249, 0.644);
  font-weight: 700;
  font-size: 14px;
}

.button {
  width: 18rem;
  height: 2.5rem;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  background-color: #fb534d;
}
